$PrimaryLightP10: #00a347;
$PrimaryLightP20: #006A3A;
$PrimaryLightP60: #00361e;

$GreyLightP10: #0e1712;
$GreyLightP20: #1c2e27;
$GreyLightP60: #3b5c53;

@mixin Link {

    color: $GreyLightP20;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        transition: cubic-bezier(1, 0, 0, 1) 0.4s;
        color: $GreyLightP60; 
    }

    &:active {
        color: $GreyLightP10;
    }
}


@mixin ActiveLink {

    color: $PrimaryLightP20;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        transition: cubic-bezier(1, 0, 0, 1) 0.4s;
        color: $PrimaryLightP60; 
    }

    &:active {
        color: $PrimaryLightP10;
    }
}



.activeLink {
    @include ActiveLink;
}

.link {
    @include Link;
}

















































