.container {
    display: flex;
    width: 305px;
    align-items: flex-start;
    gap: 16px;

}

.container>img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.technology>h2 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-top: 0;
    margin-bottom: 0;

    color: #FFF;

    /* Heading/H2/Semi Bold */
    font-size: 37px;
    font-family: Roboto;
    font-weight: 600;
}

.technology>h4 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: flex-end;


    color: var(--primary-light-p-100, #E6FDF3);

    /* Heading/H4/Semi Bold */
    font-size: 23px;
    font-family: Roboto;
    font-weight: 600;
}