@use "@/variables";




.container {
    width: 100%;
    max-width: 320px;
    // border: 2px solid blue;
    margin-bottom: 32px;

    & img {
        width: 100%;
        border: 2px solid black;
        background-color: black;
    }


    & h2 {
        @include variables.H2SemiBold;
    }

    & h3 {
        @include variables.H3SemiBold;
    }

    
}




.tool {

    @include variables.DefaultPill;
   
    background-color: blue;
    color: white;

    & h3 {
        color: white;
    }
}
