@use "@/variables";

.container {
  width: 100%;
  max-width: 320px;
  // border: 2px solid blue;
  margin-bottom: 32px;

  & img {
    width: 100%;
    border: 2px solid black;
    background-color: #004aad;
  }

  & h2 {
    @include variables.H3SemiBold;
    margin-bottom: 4px;
    color: variables.$PrimaryGreen;
  }

  & > h3 {
    @include variables.H3SemiBold;
    font-weight: 400;
    margin-bottom: 12px;
    padding-bottom: 4px;
  }
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tool {
  @include variables.DefaultPill;
  margin-bottom: 8px;
  margin-right: 8px;
  background-color: variables.$PrimaryGreen;
  color: white;

  & svg {
    width: 24px;
    height: 24px;
  }

  & h3 {
    color: white;
  }
}
