@use "@/variables";

.container {
  width: 100%;
  max-width: 320px;
  // border: 2px solid blue;
  margin-bottom: 32px;

  & img {
    width: 100%;
    border: 2px solid black;
    background-color: black;
  }

  & h2 {
    @include variables.H3SemiBold;
    margin-bottom: 4px;
    color: variables.$PrimaryGreen;
  }

  & > h3 {
    @include variables.H3SemiBold;
    font-weight: 400;
    margin-bottom: 12px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
  }
}

.tool {
  @include variables.DefaultPill;

  background-color: variables.$PrimaryGreen;
  color: white;

  & h3 {
    color: white;
  }
}
