@use "@/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;&display=swap');



.tab {
        border: inherit;
        height: 100%;
        padding: 4px 8px;
        font-family: 'Space Grotesk', sans-serif;
}

.activeTab {
    border: inherit;
        height: 100%;
        padding: 4px 8px;
        font-family: 'Space Grotesk', sans-serif;
        background-color: variables.$PrimaryGreen;
        color: white;

}


.container {
    display: flex;
    flex-direction: row;
    border: 1px solid variables.$PrimaryGreen; 
    border-radius: 8px;
    color: variables.$PrimaryGreen;
    margin-bottom: 16px; 
   

    & > :first-child {
        border: inherit;
        height: 100%;
        padding: 4px 8px;
        border-radius: 4px 0 0 4px;
    }

    & > :last-child {
        border: inherit;
        height: 100%;
        padding: 4px 8px;
        border-radius: 0 4px 4px 0;
    }

}

.tabArea {
    // TODO: Update styled text-area
    border: 2px solid variables.$PrimaryGreen; 
    padding: 16px;
    border-radius: 4px;
    width: 100%;
    max-width: 800px;
    margin-top: 32px;
}

.element {
    margin-bottom: 32px;
}

