@use '@/variables';


.activeLink {
    @include variables.ActiveLink;
}

.link {
    @include variables.Link
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}






