@use "@/variables";

.about {
  background-color: variables.$SecondaryBackground;
}

.contact {
  background-color: rgba(4, 66, 4, 0.425);
  margin-bottom: 0;
  min-height: 100vh;
  // TODO: Get rid of this maybe?
}

