@use "@/variables";

.container {
  width: 100%;
  background: variables.$BaseSurfaceS90;
  padding: 16px;
  margin: 0 !important;
}



.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  & > :first-child {
    display: flex;
    width: 100%;
    color: blue;
    justify-content: center;
    gap: 8px;

    & a {
    text-decoration: none;
    }
  }

  & > :last-child {
    display: flex;
    width: 100%;
    color: blue;
    justify-content: center;
    gap: 8px;
  }

}

