@use "@/variables";

.container {
  display: flex;
  flex-direction: row;
  background: variables.$BaseSurfaceS90;
  padding: 16px;
  margin-top: 0 !important;
  & > :first-child {
    width: 100%;
    color: blue;
  }


}


.links {
  display: flex;
  flex-direction: column;
  border-left: 1px solid variables.$SecondaryBackground;
  padding: 0px 16px;
  margin-left: 16px;
}