@use "@/variables";

.wrapper {
  color: white;
}
.container {
  padding-bottom: 64px;
  display: flex;
  flex-direction: row;
  & > :first-child {
    width: 40%;

    & > img {
      border-radius: 200px;
      border: 4px solid variables.$PrimaryGreen;
    }
  }

  & > :last-child {
    width: 60%;

    & > :first-child {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > :first-child {
      width: 100%;
      max-width: 400px;
      display: flex;
      margin-bottom: 32px;
      justify-content: center;
    }

    & > :last-child {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > :first-child {
        margin-bottom: 16px;
      }
    }
  }
}




.primarySkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 104px;

  & > h3 {
    color: variables.$PrimaryGreen;
  }
}


.header h2 {
  color: white;
}


.primarySkillsGroup {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .primarySkillsGroup {
    max-width: 400px;
  }

  .primarySkillsWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.header h2 {
  padding-bottom: 32px;
  margin-top: 16px;
}
