.container {
    color: white;
    width: 100%;
}

.container >  main {
    display: flex;
    width: 100%;
    gap: 128px;

}



.container > main > :first-child {
    width: 60%;
}




.container > main > :last-child {
    width: 40%;
    background-color: white;
    color: black;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
}


@media (max-width: 768px){

    .container main {
        flex-direction: column;
    }

    .container > main > :first-child, .container > main > :last-child  {
   	width: 100%;
    }

    .container > main > :last-child {
	    max-width: 400px;
}
}