@use "@/variables";

.container {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hook {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.details {
  & h1 {
    @include variables.D1SemiBold;
    color: variables.$PrimaryGreen;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  & h2 {
    @include variables.H2SemiBold;
    padding-left: 2px;
    font-weight: 400;
  }

  & h3 {
    @include variables.H3SemiBold;
    font-weight: 400;
    padding: 2px;
    margin-bottom: 32px;
  }
}

.button {
  @include variables.defaultButton;
}

.button:hover {
  background-color: black;
}

.button:active {
  background-color: variables.$ActiveButton;
  color: black;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  margin-top: 16px;

  & a {
    color: black;

    & :hover {
      color: variables.$PrimaryGreen;
    }
  }
}

.media {
  display: flex;
  justify-content: center;
}

.image {
  background-color: variables.$SecondaryBackground;
  border-radius: 192px 192px 192px 192px;
  padding-left: 16px;
  max-width: 800px;
  width: 64%;

  & img {
    width: 100%;
  }
}

@media (max-width: 343px) {
  .details h1 {
    font-size: 40px;
  }
}

@media (max-width: 599px) {
  .hook {
    margin-bottom: 16px;
  }

  .container {
    padding: 0;
  }
}

@media (min-width: 600px) {
  .hook {
    align-items: flex-start;
  }

  .container {
    flex-direction: row;
  }

  .image {
    width: 72%;
  }
}
