.container > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.container > section > main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.joinIt  {
        padding: 48px 0;
    display: flex;
    & > :first-child {
        width: 40%;
    }

    & > :last-child {
        width: 60%;
    }

   
}

.kensDriving {
        padding: 48px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

      & > :first-child {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    & > :last-child {
        width: 60%;
    }

}

.iirwtw {
        padding: 48px 0;
    display: flex;

      & > :first-child {
        width: 40%;
    }

    & > :last-child {
        width: 60%;
    }

}

