@media (min-width: 769px) {
.container {
   
    min-width: 64px;
}

.mainTab {
    
    padding: 16px 32px;
    width: 112px;
}
}

.container {
    border-radius: 8px;
}

.mainTab > p, .mainTab > img {
    padding: 0px 8px;
}

@media (max-width: 320px) {
 .mainTab > p {
    font-size: 12px
 }
}

@media (max-width: 768px) {
    .mainTab > img {
        padding: 0px 0px;
    }
    
    .container {

}
.mainTab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    text-align: center;
    
    font-size: 19px;
font-family: Roboto;

}
}


.hide {
    display: none;
}

.mainTab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 116px;
    gap: 4px;
    padding: 8px 0px;
    
    text-align: center;
    
    font-size: 19px;
font-family: Roboto;
}

.links {
    text-align: center;
}

.link {
    font-size: 15px;
font-family: Roboto;
}

.activeLink {
    color: var(--primary-light-p-20, #006A3A);
    font-size: 15px;
font-family: Roboto;
cursor: default;

}

.link:hover {
    cursor: pointer;
    
}


.showDropdown{
    position: absolute;
    border: 1px solid #000000;
    border-radius: 0px 0px 8px 8px;
    background-color: white;
    border-top: unset;
    box-shadow: 2px 4px 4px 2px #0000004a;


}

.dropdownContainer {
    position: absolute;
}

.activeLink, .link{
    border-bottom: 1px solid #000000;
    max-width: 288px;
    padding: 16px 24px;
    

}

.activeLink > a > h3, .link > a > h3{
    margin: 0;
    

}




.hideDropdown {
    display: none;
}

















































