@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/******************************************/
/**Includes**/

/******************************************/
/*Text Colors*/

$PrimaryGreen: #367d27;

$PrimaryYellow: #38982f;

$PrimaryRed: #ff4e50;

$PrimaryBody: #7a7979;

$SecondaryBody: #525252;

$PrimaryLightP10: #00a347;
$PrimaryLightP20: #006a3a;
$PrimaryLightP60: #00361e;

$GreyLightP10: #0e1712;
$GreyLightP20: #1c2e27;
$GreyLightP60: #3b5c53;

$ActiveButton: #61e746;

/******************************************/
/*Background Colors*/

$PrimaryBackground: #f6e6fd;

$SecondaryBackground: #293021;

$DefaultBoxShadow: 0px 4px 8px 0px #00000040;

$AltBackground: #ededed;

$BaseSurfaceS90: #f2f4f3;

/******************************************/
/*Button Colors*/

$ButtonPrimary: #00b664;

$ButtonPrimaryHover: #03d677;
$ButtonPrimaryActive: #009451;

$ButtonOutline: #fdfde6;

/******************************************/
/******************************************/
/**Mixins**/

/*Typography*/

@mixin H4Regular {
  /* Heading/H4/Regular */

  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin H2SemiBold {
  /* Heading/H2/Semi Bold */

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin H4Light {
  /* Heading/H4/Light */

  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin H3SemiBold {
  /* Heading/H3/Semi Bold */

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin H4ExtraBold {
  /* Heading/H4/Extra Bold */

  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin H4SemiBold {
  /* Heading/H4/Extra Bold */

  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin S1Light {
  /* Subheading/S1/Light */

  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin H1SemiBold {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin H1Light {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin D1SemiBold {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}

@mixin D1Bold {
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  max-width: 800px;
  font-weight: 700;
}

/******************************************/
/*Buttons*/

@mixin defaultButton {
  display: flex;

  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  color: white;
  background-color: $PrimaryGreen;
  border: none;

  text-decoration: none;

  & p {
    margin: 0;
  }
}

@mixin outlineButton {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid $ButtonOutline;

  & :hover {
    box-shadow: none;
    border: 1px solid $ButtonPrimaryHover;
  }

  & :active {
    border: 1px solid $ButtonPrimaryActive;
  }
}

/******************************************/

@mixin Link {
  color: $GreyLightP20;
  font-size: 16px;

  font-weight: 500;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transition: cubic-bezier(1, 0, 0, 1) 0.4s;
    color: $GreyLightP60;
  }

  &:active {
    color: $GreyLightP10;
  }
}

@mixin ActiveLink {
  color: $PrimaryLightP20;
  font-size: 16px;

  font-weight: 500;
  text-decoration: none;
  cursor: po "Space Grotesk";

  &:hover {
    transition: cubic-bezier(1, 0, 0, 1) 0.4s;
    color: $PrimaryLightP60;
  }

  &:active {
    color: $PrimaryLightP10;
  }
}

/******************************************/

@mixin flexSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  padding: 64px;
  margin: 32px;
}

@mixin mobileSection {
  flex-direction: column;
  padding: 32px;
  margin: 16px;
}

@mixin textArea {
  border: 2px #41cf7744 solid;
  border-radius: 8px;
  padding: 16px;
  background-color: #41cf770e;
  max-height: 100%;
  height: 256px;
  overflow-y: scroll;
}

@mixin disabledButton {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  color: black;
  box-shadow: unset;
  cursor: not-allowed;
}

@mixin DefaultContent {
  margin: 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  & > :first-child {
    max-width: 800px;
    width: 100%;

    @media (max-width: 816px) {
      padding: 0px 16px;
    }
  }
}

@mixin CardGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;

  @media (max-width: 672px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@mixin DefaultPill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blue;
  max-width: fit-content;
  border-radius: 64px;
  padding: 4px 12px;
  color: white;

  & > :first-child {
    margin-right: 8px;
  }
  & h3 {
    color: white;
  }
}
